.lista-carrito-header{
    position: absolute;
    right: 20px;
    top: 120%;
    max-width: 350px;
    min-width: 350px;
    background-color: rgb(255, 238, 238);

    &__contenedor{
        max-height: 150px;
        background-color: rgb(255, 238, 238);
        overflow-y: scroll;
    
        
    }

    ::-webkit-scrollbar {
        width: 2px;
        background-color: #f1e8e8;
      }
    
      ::-webkit-scrollbar-thumb {
        background-color: #ff9898;
      }
}

