.catalogo{
    min-height: 100vh;
    margin-top: 80px;
}

.producto-alta-add{
    border: 2px dashed #ce1313;
    min-width: 260px;
    max-width: 260px;
    min-height: 495px;
}

.more{
    font-size: 100px;
}