.social{
  max-width: fit-content;
 

    &::after{
        content: "";
        width: .1rem;
        height: 4rem;
        background-color: #ff9f9a;
        position: absolute;
        bottom: -1.5rem;
        left: 50%;
   
    }
}